@font-face { 
  font-family: 'MyriadPro-Regular'; 
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.eot') format('eot'),
        url('../fonts/MyriadPro-Regular.otf') format('otf'),
        url('../fonts/MyriadPro-Regular.svg') format('svg'),
        url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
        url('../fonts/MyriadPro-Regular.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}
body {
  font-family: 'MyriadPro-Regular', serif;
}
p {
  margin: 0;
}
.total {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  text-align: center;
}
.title {
  font-size: 70px;
  line-height: 0.4;
}
.subtitle {
  font-size: 20px;
  margin-top: 56px;
}
footer {
  position: absolute;
  bottom: 70px;
  font-size: 27px;
}
footer a {
  color: #000;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.logo svg {
  width: 100%;
}

#item {
  background: url(../img/fill.jpg) no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  }


  .icon {
    width: 349px;
    height: 136px;
    display: inline-block;
    -webkit-mask: url(../img/mask.svg) no-repeat 50% 50%;
    mask: url(../img/mask.svg) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask-size: contain;
  }
  
 
  .icon-animation { 
    background: url(../img/fill.jpg) repeat;
    -webkit-animation: color 6.66s infinite linear;
    animation: color 6.66s infinite linear; 
    animation-direction: reverse;
  }
  
  @-webkit-keyframes color {
    0% {background-position-x: 0;}
    16% {     background-position-x: 50%;}
    32% {     background-position-x: 150%; }
    48% {     background-position-x: 220%;}
    60% {     background-position-x: 260%;}
    72% {     background-position-x: 300%; }
    84% {     background-position-x: 340%;}
    100% {     background-position-x: 380%;}
  }
  
  @keyframes color {
    0% {background-position-x: 0;}
    16% {     background-position-x: 50%;}
    32% {     background-position-x: 150%; }
    48% {     background-position-x: 220%;}
    60% {     background-position-x: 260%;}
    72% {     background-position-x: 300%; }
    84% {     background-position-x: 340%;}
    100% {     background-position-x: 380%;}
  }
  
  