@font-face { 
  font-family: 'MyriadPro-Regular'; 
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.eot') format('eot'),
        url('../fonts/MyriadPro-Regular.otf') format('otf'),
        url('../fonts/MyriadPro-Regular.svg') format('svg'),
        url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
        url('../fonts/MyriadPro-Regular.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}
body {
  font-family: 'MyriadPro-Regular', serif;
}
p {
  margin: 0;
}
.total {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  text-align: center;
}
.subtitle {
  font-size: 20px;
  margin-top: 56px;;
}
footer {
  position: absolute;
  bottom: 70px;
  font-size: 27px;
}
footer a {
  color: #000;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.logo svg {
  width: 100%;
}